body {
    background: rgb(252, 252, 252);
    font-family: 'Kaushan Script', cursive;
    font-family: 'Montserrat', sans-serif;  
    font-size: 15px;
    color: #333;
    line-height: 1.6;
    margin: 0;
}

*,
*::before
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Container */
.container {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;  

}
/* INTRO */
.intro {
 display: flex;
 flex-direction: column;
 justify-content: center;
 width: 100%;
 height: 100vh;
 background: url(../img/intro.png) center
 no-repeat; 
 background-size: cover;
 
    

}
.intro__title {
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    
    line-height: 1; 

}
.intro__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 60px auto 0;  
}

.intro__suptitle {
    
    margin-bottom: 20px;
    font-size: 72px;
    color: #fff;
    font-family: 'Kaushan Script', cursive;
    

}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    color: ivory;
    text-align: center;
}


/* HEADER */
.header {
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

} 
.header__inner {
    display: flex;
    justify-content: space-between;

}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

/* NAV */

.nav {
    font-size: 14px;
    text-transform: uppercase;

}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: color 0.2s linear;
}

.nav__link:hover {
     color: #fce38a;    
}


.nav__link.active {
    color: #fce38a;
}
.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    position: absolute;
    top:100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity .5s;

}
.nav__link:hover:after {
    
    opacity: 1;

}

/* BUTTON */

.btn {
    display: inline-block;      /* е */
    vertical-align: top;        /*  */
    padding: 8px 30px;          /* размеры кнопки (рамочка) */
    font-size: 14px;            
    color: #fff;              /* цвет текста в кнопке */
    border: 3px solid #fff;   /* ширина линий кнопки и цвет */
    text-transform: uppercase;  /*  */
    font-weight: 700;           /*  */
    text-decoration: none;      /* убрать подчеркивание */
    transition: background 1s  /* плавность для кнопки */
    linear, color 1s linear    ; /* плавность для кнопки */
}

.btn:hover {
    background-color: #fff;
    color: #333;


}

/*SLIDER*/

.slider {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;  /* зазор между кнопкой и нижней линией */
}

.slider_item {
    width: 24%;   /* ширина между итемами */
    font-size: 18px; /* размер шрифта*/
    color: #fff;
    position: relative ;
    opacity: .7;
    padding: 20px 0;   /* зазор между словами */
    border-top: 3px solid;
    text-transform: uppercase; /* делает буквы большими*/
}
.slider_item.active {
    opacity: 1;
}
.slider_item.active:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f38181;
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;



}

.slider__num {
    font-size: 24px;
    font-weight: 700;

}

/* section */

.section {
    padding: 80px 0;

}

.section__header {
    margin: 0 auto 40px;
    width: 100%;
    max-width: 950px;
    text-align: center;
}

.section__suptitle {
    font-size: 24px;
    color: #333;
    font-family: 'Kaushan Script', cursive;
}

.section__title {
    font-size: 30px;
    color: #333;
    text-transform: uppercase;
    font-weight: 700;
}

.section__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 30px auto;
    
}

.section__text {
    font-size: 15px;
    color: #999;


}

/* ABOUT */

.about {
    margin-top: 80px;
     display: flex;
     justify-content: space-between;

}
  /* меняем вид для мобильных приложений */
@media screen and (max-width: 800px) {  
    .about__item:nth-child(2) {
        padding: 20px 0;
        background-color: inherit;
        
    }
    .about {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
 /* меняем вид для мобильных приложений */

.about__item {
    max-block-size: initial;
    width: 380px;
    background-color: #95e1d3; /* задний фон картинки после смещения  */
    position: relative;          /* сделать текст поверх картинки */
}
.about__item:hover .about__img{    /* картинка вверх подымается */
    transform: translate3d(-10px, -10px, 0);     /* картинка вверх подымается */

}

.about__item:hover .about__img img {
    opacity: .1;

}
.about__item:hover .about__test {  /* показать спрятанный текст */
    opacity: 1;

}

.about__img {
    background: linear-gradient(to bottom,
    #f38181,#fce38a);
    transition: transform .2s linear;  /* картинка вверх подымается плавность */

}
.about__img img {
    transition: opacity .1s linear;
    display: block;
    width:  380px;     /*для того что бы менять на любую картинку */
    height: 250px;      /*для того что бы менять на любую картинку */
    
}

.about__item:hover {

}

.about__test {
    width: 100%;
    color: #fff;
    text-transform: uppercase; 
    font-weight: 700;
    font-size: 18px;
    text-align: center;  /* выровнять текст по центру картинки */
    opacity: 0;          /* спрятать текст */   
    position: absolute;
    top:50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear ; /* выровнять текст по центру картинки */
}

 /* statistics */

 .statistics {
    background-color: #95e1d3;

 }

 .stat {
    display: flex;

 }

 .stat__item {
    border-left: 2px solid #b5eae0;
    flex: 1 1 0;
    text-align: center;
    color: #fff;
    padding: 70px 25px;

 }

 .stat__item:last-child {
    border-right: 2px solid #b5eae0;

 }

.stat__count {
    margin-bottom: 10px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}
.stat__text {
    font-size: 14px;
    text-transform: uppercase;
    
}