body {
    background: rgb(252, 252, 252);
    font-family: 'Kaushan Script', cursive;
    font-family: 'Montserrat', sans-serif;  
    font-size: 15px;
    color: #333;
    line-height: 1.6;
    margin: 0;
}




hr {
    border: 0;
    background-color: #e5e5e5;
    display: block;
    width: 100%;
    height: 2px;
    margin: 40px 0;
}

*,
*::before
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Container */
.container {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;  

}
/* INTRO */
.intro {
 display: flex;
 flex-direction: column;
 justify-content: center;
 width: 100%;
 height: 100vh;
 background: url(../img/intro.png) center
 no-repeat; 
 background-size: cover;
 
    

}
.intro__title {
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    
    line-height: 1; 

}
.intro__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 60px auto 0;  
}

.intro__suptitle {
    
    margin-bottom: 20px;
    font-size: 70px;
    color: #fff;
    font-family: 'Kaushan Script', cursive;
    

}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    color: ivory;
    text-align: center;
}


/* HEADER */
.header {
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

} 
.header__inner {
    display: flex;
    justify-content: space-between;

}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

/* NAV */

.nav {
    font-size: 14px;
    text-transform: uppercase;

}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: color 0.2s linear;
}

.nav__link:hover {
     color: #fce38a;    
}


.nav__link.active {
    color: #fce38a;
}
.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    position: absolute;
    top:100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity .5s;

}
.nav__link:hover:after {
    
    opacity: 1;

}

/* BUTTON */

.btn {
    display: inline-block;      /* е */
    vertical-align: top;        /*  */
    padding: 8px 30px;          /* размеры кнопки (рамочка) */
    font-size: 14px;            
    color: #fff;              /* цвет текста в кнопке */
    border: 3px solid #fff;   /* ширина линий кнопки и цвет */
    text-transform: uppercase;  /*  */
    font-weight: 700;           /*  */
    text-decoration: none;      /* убрать подчеркивание */
    transition: background 1s  /* плавность для кнопки */
    linear, color 1s linear    ; /* плавность для кнопки */
}

.btn:hover {
    background-color: #fff;
    color: #333;


}

/*SLIDER*/

.slider {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;  /* зазор между кнопкой и нижней линией */
}

.slider__item {
    width: 24%;   /* ширина между итемами */
    font-size: 18px; /* размер шрифта*/
    color: #fff;
    position: relative ;
    opacity: .7;
    padding: 20px 0;   /* зазор между словами */
    border-top: 3px solid;
    text-transform: uppercase; /* делает буквы большими*/
}
.slider__item.active {
    opacity: 1;
}
.slider__item.active:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f38181;
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;



}

.slider__num {
    font-size: 24px;
    font-weight: 700;

}

/* section */

.section {
    padding: 80px 0;

}

.section--devices {
    margin-bottom: 40px;
    padding-bottom: 0;
    background: 
    url("../img/section-devices/fone.png")
    center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.section--gray {
    background-color: #f8f8f8;

}

.section--clients {
    background: #f5f5f5
    url("../img/clients/clients_bg.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}


.section--map {
    padding: 40px;
background: #e6e6e6 
url("../img/map/map_bg.png") center no-repeat ;
-webkit-background-size: cover;
background-size: cover;

}

.section__header {
    
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;

    text-align: center;
}

.section__suptitle {
    font-size: 24px;
    color: #333;
    font-family: 'Kaushan Script', cursive;
}

.section__title {
    font-size: 30px;
    color: #333;
    text-transform: uppercase;
    font-weight: 700;
}

.section__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 30px auto;
    
}

.section__text {
    font-size: 15px;
    color: #999;


}

/* card */

.card {
     margin-top: 80px;
     display: flex;
     justify-content: space-between;
    
}



.card__item {
    
    max-block-size: initial;
    width: 380px;
     
    
}

.card__inner {
    position: relative;          /* сделать текст поверх картинки */
    background-color: #95e1d3; /* задний фон картинки после смещения  */


}

.card__inner:hover .card__img{    /* картинка вверх подымается */
    transform: translate3d(-10px, -10px, 0);     /* картинка вверх подымается */

}

.card__inner:hover .card__img img {
    opacity: .1;

}
.card__inner:hover .card__test {  /* показать спрятанный текст */
    opacity: 1;
}

.card__img {
    background: linear-gradient(to bottom,
    #f38181,#fce38a);
    transition: transform .2s linear;  /* картинка вверх подымается плавность */
    
}
.card__img img {
    transition: opacity .1s linear;
    display: block;
         
    
}



.card__test {
    
    width: 100%;
    color: #fff;
    text-transform: uppercase; 
    font-weight: 700;
    font-size: 18px;
    text-align: center;  /* выровнять текст по центру картинки */
    opacity: 0;          /* спрятать текст */   
    position: absolute;
    top:50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear ; /* выровнять текст по центру картинки */
}

.card__info {
    margin-top: 20px;

    text-align: center;
}

.card__name {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 5px; 

}

.card__prof {
    font-size: 15px;
    font-style: italic;
    color: #999;
    font-weight: 300;

}



 /* statistics */

 .statistics {
    background-color: #95e1d3;

 }

 .stat {
    display: flex;

 }

 .stat__item {
    border-left: 2px solid #b5eae0;
    flex: 1 1 0;
    text-align: center;
    color: #fff;
    padding: 70px 25px;

 }

 .stat__item:last-child {
    border-right: 2px solid #b5eae0;

 }

.stat__count {
    margin-bottom: 10px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}
.stat__text {
    font-size: 14px;
    text-transform: uppercase;
    
}


/* services */

.services {
    display: flex;

}

.services__item {
    flex: 1 1 0;
    padding-left: 80px;
    padding-right: 35px;
    position: relative;
    
}

.services__icon {
    position: absolute;
    top: 0;
    left: 25px;
    z-index: 1;
}

.services__title {
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}

.services__text {
    font-size: 14px;
    color: #999;
}

/* devices */
.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.devices__item {
    display: block;

}

.devices__item--iphone {
    position: absolute;
    bottom: -90px;  
    right: -75px;
    z-index: 1;
}

/* photo */
.photo {
 display: flex;

}

.photo__item {
    width: 50%;

}

/*accordion */

.accordion__item {
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;

}

.accordion__item.active 
.accordion__content {
    display: block;
}

.accordion__item.active
.accordion__header {
    border-bottom: 1px solid #e5e5e5;

}

.accordion__item.active
.accordion__header:after {
    transform: translateY(-50%)
    rotate(-45deg) ;
    margin-top: 5px;   

}



.accordion__header {
    padding: 15px 20px 15px 60px;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}


/* стрелочка вверх */
.accordion__header:after {
    content: " ";
    display: block;
    width: 16px;
    height: 16px;
    
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;

    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;

    transform: translateY(-50%)
    rotate(135deg) ;   

}
/* стрелочка вверх */

.accordion__icon {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;

    transform: translateY(-50%);
}


.accordion__content {
    padding: 15px 20px;
    font-size: 15px;
    color: #999;
    font-style: italic;
    font-weight: 300;
    display: none;
}

.accordion__title {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;


}


/* Reviews */

.reviews {
    padding: 0 110px;
    position: relative;
}

.reviews__item {
padding-left: 255px;
position: relative;


}

.reviews__photo {
    border-radius: 50%;
    border: 2px solid #95e1d3;
    position: absolute;
    top: -35px; 
    left: 0;
    z-index: 1;
}

.reviews__text {
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    color: #999;
    margin-bottom: 15px;
}

.reviews__author {
    font-family: 'Kaushan Script',
    cursive;
    font-size: 24px;
    color: black;
    
}
.reviews__author:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin-right: 10px;

}

.reviews__btn {
    font-size: 0;
    color: transparent;

    position: absolute;
    top: 50%;
    z-index: 1;

}

.reviews__btn:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    
}



.reviews__btn--prev {
    left: 20px;
    transform: rotate(-135deg) translateY(-50%);
}


.reviews__btn--next {
    right: 20px;
    transform: rotate(45deg) translateY(-50%);
}


/*  CARD SOCIAL */

.social {
    display: flex;
    justify-content: center;

}


.social__item {
    width: 55px;
    height: 55px;
    padding: 10px 10px;
    
    background-color: #fce38a;
    border-right: 1px solid #f38181;
    
    font-size: 50px;
    text-decoration: none;
    color: red;
    line-height: 1;
    transition: background .1s 
    linear color .1s linear;

}


.social__item:last-child {
    border-right: 0;
}

.social__item:hover {
    color: #fff;
    background-color: red;
}



/* CARD SOCIAL */

/* logos */

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* works */

.works {
    display: flex;

}

.works__col {     
    flex: 1 1 0;    /* odinakoviy razmer */ 
 
}

.works__item {
    position: relative;
    background: linear-gradient(to
    bottom, #f38181, #fce38a);

}

.works__item:hover .works__image {
    opacity: .1;
}

.works__item:hover .works__info {
    opacity: 1;

}

.works__image {
    transition: opacity .2s linear;
    display: block;
    max-width: 100%;
    height: auto;
}

.works__info {
    width: 100%;
    padding: 0 px;

    opacity: 0;

    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;

    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear;
}

.works__title {
    margin-bottom: 5px;
    
    font-size: 14px;
    text-transform: uppercase;
}

.works__text {
    font-size: 15px;
    font-weight: 300;
    font-style: italic;

}



/*clients */

.clients {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

.clients__item {
    width: 25%;
    padding: 0 45px 0 175px;
    position: relative;
    margin-bottom: 60px;
}

.clients__photo {
    width: 110px;
    height: 110px;

    border-radius: 50%;

    position: absolute;
    top: 0;
    left: 40px;
    z-index: 1;
}

.clients__name {
font-size: 14px;
color: #333;
text-transform: uppercase;
margin-bottom: 5px;
}

.clients__prof {
font-size: 15px;
color: #333;
font-style: italic;
font-weight: 300;
}

.clients__text {
font-size: 15px;
color: #999;
}

.clients__text:before {
content: "";
display: block;
width: 60px;
height: 3px;
margin: 15px 0;
background-color: #f38181;

}


/* BLOG */

.blog {
display: flex;
justify-content: space-between;  /*разделить картинки между собой */
}

.blog__item {
width: 31%;

}

.blog__header {
position: relative;
margin-bottom: 14px;

}

.blog__photo {
max-width: 100%;
display: block;
height: auto;
}

.blog__date {
padding: 20px;
background-color: #95e1d3;
position: absolute;
bottom: 10px;
left: -10px;
z-index: 1;
color: #fff;
font-size: 15px;
font-style: italic;
font-weight: 300;
text-align: center;
}

.blog__date-day {
font-size: 30px;
font-weight: 700;
font-style: normal;
line-height: 1;

}

.blog__content {
margin-bottom: 14px;

}


.blog__title {
margin-bottom: 10px;
font-size: 14px;
color: #333;
text-transform: uppercase;
}

.blog__title a {
color: inherit;
text-decoration: none;

}

.blog__title a:hover {
text-decoration: underline;

}

.blog__text {
font-size: 15px;
color: #999;

}

.blog__footer {
border-top: 1px solid #e5e5e5;
padding-top: 14px;

font-size: 15px;
font-weight: 300;
font-style: italic;
color: #999;

}

.blog-stat__item {
display: inline-block;
vertical-align: top;
margin-right: 10px;
}

.blog-stat__item i {
color: #95e1d3;

}

/*MAP*/

.map {
text-align: center;

}

.map__title {
font-size: 24px;
color: #f38181;
font-weight: 700;
text-transform: uppercase;
}

.map__title a {
color: inherit;
text-decoration: none;
}

.map__title a:hover {
text-decoration: underline;

}

.map__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 15px auto 0;
}


/* footer */

.footer {
padding-top: 65px;
background-color: #f8f8f8;

}

.footer__inner {
    padding-bottom: 65px;
    display: flex;
    justify-content: space-between;
}

.footer__col--first {
    width: 40%;
}

.footer__col--second {
    width: 29%;
}

.footer__col--third {
    width: 22%;
}

.footer__logo {
margin-bottom: 30px;
font-size: 46px;
font-weight: 700;
color: #ccc;
}

.footer__text {
margin-bottom: 30px;   
font-size: 15px;
color: #999;
}

.footer__social {
    margin-bottom: 25px;

}

.footer__social-header {
    padding-bottom: 15px;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
}

footer__social-header b {
font-size: 18px ;

}   

.footer__social-content {
    padding-top: 15px;
    font-size: 15px;
    color: #999;
    font-style: italic;
    font-weight: 300;
}

.footer__social-content a {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    color: #95e1d3;
    font-size: 18px;
}

.footer__title {
    margin: 30px 0;
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
    font-weight: 900;
}   


/* blogs */

.blogs__item {
    display: flex;
    margin-bottom: 30px;
    align-items: center;

}

.blogs__img {
    width: 120px;
    height: 80px;


}

.blogs__content {
    padding-left: 20px;

}

.blogs__title {
    color: #333;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
}

.blogs__title:hover {
    text-decoration: underline;

}

.blogs__date {
    font-size: 13px;
    color: #999;
    font-style: italic;
    font-weight: 300;
}


/* instagram */

.instagram {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.instagram__item {
    width: 31.33333%;
    border-bottom: 2px solid #fff;
    
    

}

.instagram__item img {
    display: block;

}

/* subscribe */

.subscribe {
    width: 100%;
    max-width: 380px;
    display: flex;
}

.subscribe__input {
    width: 60%;
    height: 15px;
    padding: 12px;
    background: #fff;
    border: 1px solid #e7e7e7;
    line-height: 1.1;
    font-size: 15px;
    color: #333;
    font-style: italic;
    border-right: 0;
    
    font-family: 'Montserrat', sans-serif;
}

.subscribe__input::placeholder {
    color: #ccc;

}
.subscribe__input:focus {
    outline: 0;
    border-color: #95e1d3;

}

.subscribe__button {
    width: 40%;
    height: 40px;
    background-color: #95e1d3;
    border: 0;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 30px;
    line-height: 1.1;

    transition: background .2s linear;
}

.subscribe__button:hover {
    background-color: #51cfb8;
    
}

.subscribe__button:focus {
    outline: 0;
    border-color: #95e1d3;

}


/* copyright */

.copyright {
    padding: 20px 0;
    font-size: 14px;
    color: #333;
    font-weight: 900;
    border-top: 1px solid #e5e5e5;
}

.copyright span {
    color: #f38181;
    
}